parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function htmlspecialchars expects string, mixed given\\.$#"
			count: 2
			path: src/Controller.php

		-
			message: "#^Constant ENCRYPTION_TYPE not found\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Constant WT_IV not found\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Constant WT_KEY not found\\.$#"
			count: 2
			path: src/Crypto/WT.php

		-
			message: "#^Parameter \\#1 \\$data of function openssl_encrypt expects string, string\\|false given\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Method Frogg\\\\Mail\\:\\:send\\(\\) return type has no value type specified in iterable type Aws\\\\Result\\.$#"
			count: 1
			path: src/Mail.php

		-
			message: "#^Call to function is_string\\(\\) with Phalcon\\\\Messages\\\\MessageInterface will always evaluate to false\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Method Frogg\\\\Model\\:\\:getPopulator\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Method Frogg\\\\Model\\:\\:setPopulator\\(\\) has parameter \\$populator with no type specified\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Property Frogg\\\\Model\\:\\:\\$populator has no type specified\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Cannot access property \\$total on Phalcon\\\\Mvc\\\\Model\\\\Row\\|Phalcon\\\\Mvc\\\\ModelInterface\\|null\\.$#"
			count: 1
			path: src/Model/Criteria.php

		-
			message: "#^Method Frogg\\\\Model\\\\Criteria\\:\\:execute\\(\\) should return Phalcon\\\\Mvc\\\\Model\\\\ResultsetInterface but returns mixed\\.$#"
			count: 1
			path: src/Model/Criteria.php

		-
			message: "#^Parameter \\#2 \\$arguments of method Frogg\\\\Model\\\\Criteria\\:\\:addCriteria\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Model/Criteria.php

		-
			message: "#^Method Frogg\\\\Plugins\\\\Auth\\:\\:beforeExecuteRoute\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Plugins/Auth.php

		-
			message: "#^Method Frogg\\\\Services\\\\AbstractDiBuilder\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type Phalcon\\\\Config\\\\Config\\.$#"
			count: 1
			path: src/Services/AbstractDiBuilder.php

		-
			message: "#^Cannot access property \\$results on mixed\\.$#"
			count: 1
			path: src/Services/GMaps.php

		-
			message: "#^Cannot access property \\$rows on mixed\\.$#"
			count: 3
			path: src/Services/GMaps.php

		-
			message: "#^Parameter \\#1 \\$string of function urlencode expects string, mixed given\\.$#"
			count: 2
			path: src/Services/GMaps.php
