parameters:
  parallel:
    maximumNumberOfProcesses: 4
  level: 7
  paths:
    - src/
  scanDirectories:
    - %currentWorkingDirectory%/vendor/phalcon/ide-stubs/src
includes:
    - phpstan-baseline.neon
