parameters:
  parallel:
    maximumNumberOfProcesses: 4
  level: 1
  paths:
    - src/
  scanDirectories:
    - %currentWorkingDirectory%/vendor/phalcon/ide-stubs/src
  ignoreErrors:
    - "#.*and 'createBuilder' will always evaluate to false.#"
  excludePaths:
    - %currentWorkingDirectory%/src/Crypto/
