parameters:
	ignoreErrors:
		-
			message: "#^Constant ENCRYPTION_TYPE not found\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Constant WT_IV not found\\.$#"
			count: 1
			path: src/Crypto/WT.php

		-
			message: "#^Constant WT_KEY not found\\.$#"
			count: 2
			path: src/Crypto/WT.php

		-
			message: "#^Method Frogg\\\\Mail\\:\\:send\\(\\) return type has no value type specified in iterable type Aws\\\\Result\\.$#"
			count: 1
			path: src/Mail.php

		-
			message: "#^Call to function is_string\\(\\) with Phalcon\\\\Messages\\\\MessageInterface will always evaluate to false\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Method Frogg\\\\Model\\:\\:getPopulator\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Method Frogg\\\\Model\\:\\:setPopulator\\(\\) has parameter \\$populator with no type specified\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Property Frogg\\\\Model\\:\\:\\$populator has no type specified\\.$#"
			count: 1
			path: src/Model.php

		-
			message: "#^Access to an undefined property Phalcon\\\\Mvc\\\\Model\\\\Row\\|Phalcon\\\\Mvc\\\\ModelInterface\\:\\:\\$total\\.$#"
			count: 1
			path: src/Model/Criteria.php

		-
			message: "#^Method Frogg\\\\Plugins\\\\Auth\\:\\:beforeExecuteRoute\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Plugins/Auth.php

		-
			message: "#^Method Frogg\\\\Services\\\\AbstractDiBuilder\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type Phalcon\\\\Config\\\\Config\\.$#"
			count: 1
			path: src/Services/AbstractDiBuilder.php
